.u-section-1 {
  background-image: none;
  min-height: 1559px;
}

.u-section-1 .u-image-1 {
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 201px;
  height: 201px;
  margin: 63px auto 0 calc(((100% - 1140px) / 2) + 281px);
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: -153px 419px 0 544px;
}

.u-section-1 .u-text-2 {
  margin: 23px calc(((100% - 1140px) / 2) + 309px) 0 calc(((100% - 1140px) / 2) + 340px);
}

.u-section-1 .u-text-3 {
  margin: 104px calc(((100% - 1140px) / 2) + 327px) 0 calc(((100% - 1140px) / 2) + 323px);
}

.u-section-1 .u-image-3 {
  width: 396px;
  height: 252px;
  margin: 57px auto 0 calc(((100% - 1140px) / 2) + -56px);
}

.u-section-1 .u-image-4 {
  width: 405px;
  height: 252px;
  margin: -252px auto 0;
}

.u-section-1 .u-image-5 {
  width: 396px;
  height: 252px;
  margin: -252px calc(((100% - 1140px) / 2) + -52px) 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  width: 388px;
  margin: 76px auto 0;
}

.u-section-1 .u-image-6 {
  width: 114px;
  height: 114px;
  margin: 66px calc(((100% - 1140px) / 2) + 89px) 0 auto;
}

.u-section-1 .u-text-5 {
  width: 146px;
  margin: -6px auto 0;
}

.u-section-1 .u-image-7 {
  width: 137px;
  height: 137px;
  margin: -203px auto 0;
}

.u-section-1 .u-image-8 {
  width: 124px;
  height: 124px;
  margin: -94px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-1 .u-text-6 {
  width: 312px;
  margin: 47px auto 0;
}

.u-section-1 .u-text-7 {
  margin: -47px calc(((100% - 1140px) / 2) + 842px) 0 calc(((100% - 1140px) / 2) + -14px);
}

.u-section-1 .u-text-8 {
  margin: -72px calc(((100% - 1140px) / 2) + -66px) 0 calc(((100% - 1140px) / 2) + 822px);
}

.u-section-1 .u-text-9 {
  margin: -134px calc(((100% - 1140px) / 2) + 936px) 0 calc(((100% - 1140px) / 2) + 58px);
}

.u-section-1 .u-text-10 {
  margin: -61px calc(((100% - 1140px) / 2) + 18px) 0 calc(((100% - 1140px) / 2) + 866px);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 104px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -20px calc(((100% - 1140px) / 2) + 89px) 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 32px calc(((100% - 1140px) / 2) + 68px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 281px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 292px);
    margin-left: calc(((100% - 940px) / 2) + 383px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 209px);
    margin-left: calc(((100% - 940px) / 2) + 240px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 227px);
    margin-left: calc(((100% - 940px) / 2) + 223px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + -56px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 24px;
    margin-right: calc(((100% - 940px) / 2) + 89px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 742px);
    margin-left: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + -66px);
    margin-left: calc(((100% - 940px) / 2) + 722px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 794px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 684px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 53px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 281px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 224px);
    margin-left: calc(((100% - 720px) / 2) + 293px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 99px);
    margin-left: calc(((100% - 720px) / 2) + 130px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 117px);
    margin-left: calc(((100% - 720px) / 2) + 113px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + -56px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2) + -52px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 452px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -156px;
    margin-right: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 720px) / 2) + 80px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 632px);
    margin-left: calc(((100% - 720px) / 2) + -14px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + -66px);
    margin-left: calc(((100% - 720px) / 2) + 612px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 574px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 464px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 0;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 281px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 168px);
    margin-left: calc(((100% - 540px) / 2) + 220px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 9px);
    margin-left: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 27px);
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + -56px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2) + -52px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 1784px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -1488px;
    margin-right: calc(((100% - 540px) / 2) + 89px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 542px);
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + -66px);
    margin-left: calc(((100% - 540px) / 2) + 522px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 394px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 284px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 340px) / 2) + 106px);
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + -56px);
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 212px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 216px;
    margin-top: -212px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 2289px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -1949px;
    margin-right: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 340px) / 2) + 80px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 442px);
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2) + -66px);
    margin-left: calc(((100% - 340px) / 2) + 422px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + 194px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 84px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 {
  background-image: linear-gradient(black, #adcce9);
}

.u-section-2 .u-sheet-1 {
  min-height: 300px;
}